<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<div class='tweet-card'>
    <div class='tweet-buttons'>
        <a class='tweet-button button1'  href="">

            <!-- <img src='../../../assets/visibility.svg' > -->
        </a>
        <a class='tweet-button button2'  href="">
            <!-- <img src='../../../assets/interface.svg' class='button' id='button-check'> -->
        </a>
    </div>
    <div class="tweet-header">
        <div class="tweet-pic">
            <img src="http://tevi.xyz/img/ramo.webp" alt=""> 
            <!-- <img src="../../../assets/ramo.png" alt=""> -->
        </div>
        <div class="tweet-name">
            <p class='main-name'>Ramona Albert</p>
            <p class='tag-name'>@ramona_albert</p>
        </div>
    </div>
    <p class="tweet-text">I disagree with the wild theories proffered by "coronavirus skeptics" but they should NOT be purged from the internet: if anything, this will only breed suspicion and MORE wild theories. Yet another reason why appointing Big Tech as the arbiters of political speech is a bad idea.
    <br> <br>
        BREAKING: The department overseeing Florida’s broken unemployment system — and the company that created it — are now being sued for its disastrous handling of coronavirus-related abcn.ws/3bVxhWM
        https://www.google.com/
    </p>
    <div class="tweet-footer">
        <div class="retweets">
            <span class="icon retweet-icon"></span>
            <span class="count">
                140000 retweets
            </span>
        </div>
        <div class="tweet-date">
            <span class="icon date-icon"></span>
            <span class="date">12/12/2020</span>
        </div>
    </div>    
    <!-- <div id='tweet-information'>
        
        <div id='tweet-profile'>
            <div id='profile-image'>IMAGE</div>
            <div id='profile-names'>
                <p id='main-name'>{{parentData.name}}</p>
                <p id='tag-name'>@{{parentData.tag}}</p>
            </div>
        </div>
        <p>{{parentData.message}}</p>
        <p>{{parentData.sentiment}}</p>
    </div> -->

    <script >
        console.log("ana");
    </script>

    
</div>
