<header id="page-header">
  <h1 id="firstHeader">Tweets verification app. <br> Verification of validity for tweets</h1>
  <h4 id="thirdHeader">Since its launch in 2006, Twitter has taken small steps to fight false information, from uprooting bot accounts to banning political ads. In 2020, the microblogging service is making moves like never before—not only to crack down on false information, but to correct it. Check out our application for evaluating such tweets. </h4>
</header>
<div id="main-content">
  <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "gutter": 30 }'>

    <div class="grid-item" *ngFor="let t of tweetsFromDB">
        <app-tweet-card [parentData]="t"></app-tweet-card>
    </div>

  </div>
</div>
<footer id="page-footer">
  <p id="text-footer"><span id="first-part">Alexandru Ioan Cuza University: Faculty of Computer Science </span> <span id="second-part">Copyright 2020</span></p>
</footer>