#page-header{
    border: 0.1px solid black;
    background-image: url("../../../assets/headerBackgroundImage.jpg");
    color: white;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

#firstHeader{
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}

#thirdHeader{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 80px;
}

#main-content{
    background-color: rgb(244, 244, 244);
}

#page-footer{
    height: 80px;
    background-color: rgb(32, 32, 32);

}

.grid-item{
    width: calc(100%/3);
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px; 
    padding-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.pagination{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px; 
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#text-footer{
    margin-left: 100px;
    padding-top: 30px;
    margin-right: 100px;
}

#first-part{
    color: rgb(0, 171, 240);
}

#second-part{
    color: rgb(255, 255, 255);
}



@media only screen and (max-width: 1400px) {

    .grid{
        padding-top: 60px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .pagination{
        margin-left: 60px;
        margin-right: 60px;
    }

    #text-footer{
        margin-left: 60px;
        padding-left: 15px;
        margin-right: 60px;
        padding-right: 15px;
    }
    
}


@media only screen and (max-width: 1200px) {
    
    .grid-item{
        width: calc(100%/2);
    }
}

@media only screen and (max-width: 900px) {
    
    .grid-item{
        width: calc(100%);
    }

    #firstHeader{
        font-size: 30px;
        line-height: 1.4;
        margin-bottom: 30px;
    }
    
}